@use "variables" as *;
@use "sass:math";

// tablet media query
@mixin tablet {
  @media screen and (min-width: $size-tablet) {
    @content
  }
}

// tablet media query
@mixin laptop {
  @media screen and (min-width: $size-laptop) {
    @content
  }
}

// desktop media query
@mixin desktop {
  @media screen and (min-width: $size-desktop) {
    @content
  }
}

// px to rem
@function rem($px, $base: 16px) {
  @return math.div($px, $base) * 1rem;
}

// flexbox mixin
@mixin flex-display($direction: null, $align: null, $justify: null, $gap: null) {
  display: flex;
  @if $direction {
    flex-direction: $direction;
  }
  @if $align {
    align-items: $align;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $gap {
    gap: $gap;
  }
}