// screen sizes
$mobile-width: 320px;
$tablet-size: 480px;
$laptop-size: 768px;
$desktop-size: 1280px;

// spacing sizes
$space-xxs: 4px;
$space-xs: 6px;
$space-sm: 9px;
$space-md: 13.5px;
$space-lg: 20px;


