@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.board {
  position: relative;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  background-color: #2c3e50;

  &--closed {
    filter: saturate(60%);
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--x {
      height: 100%;
      color: #ff4141;
    }

    &--o {
      height: 80%;
      color: #0092ff;
    }
  }

  grid-gap: $space-xxs;
  padding: $space-xxs;
  border-radius: $space-xxs;

  @include tablet {
    grid-gap: $space-xs;
    padding: $space-xs;
    border-radius: $space-xs;
  }

  @include laptop {
    grid-gap: $space-sm;
    padding: $space-sm;
    border-radius: $space-sm;
  }
}

.board-wrapper {
  position: relative;
}